/*This file contains CSS code regarding the ./blog.html page which is a page dedicated to maintaining and showcasing the different blog posts */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
html, h1, h2, h3, h4, h5, h6, a {
    font-family: "Raleway";
}

/*header style*/

.header {
    background-image: url('../images/blog_headerback.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 120px 0 120px 0;
}

.des-welcome {
    position: absolute;
    top: 20%;
    bottom: 10%;
    margin: 0.2em;
    padding: 1em;
}

.des-welcome h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.des-welcome p {
    color: rgb(255, 255, 255);
    font-size: 26px;
    width: 50%;
    line-height: 1.5;
}

/*Blog*/

.blog {
    margin: 0em;
    padding: 0.5em;
    position: relative;
}

.blog h1 {
    color: rgba(32, 32, 32, 0.815);
    margin: 0em;
    padding: 0.5em;
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-size: 4em;
}

/* Contact Form */

.contact-form {
    padding: 2em;
    margin-top: 3em;
    position: relative;
    background-image: url('../images/footer.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.contact-form .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(82, 82, 82, 0.418);
    z-index: 0;
    color: white;
}

.contact-form h1 {
    margin: 0.1em;
    color: rgb(240, 236, 233);
    font-family: 'Oleo Script', Helvetica, sans-serif;
    font-size: 4em;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #F97300;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

/* phones*/

@media handheld, only screen and (max-width: 769px) {
    .header {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
    .about {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
    .work-exp {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
    .contact-form {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
}